@using BeshariqBeton.Web.Infrastructure.Authentication
@using BeshariqBeton.BLL.Services
@inject IAuthorizationService AuthorizationService
@inject Settings Settings
@inject DefaultParametersService DefaultParametersService

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Beshariq Beton</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a asp-action="Index" asp-controller="Home" class="nav-link text-white">
                <span class="fas fa-home"></span>
                Bosh sahifa
            </a>
        </li>
        @if (await AuthorizationService.AuthorizeAsync(User, StandardPermissionsProvider.ManageSettings))
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Settings" class="nav-link text-white">
                    <span class="fas fa-cogs"></span>
                    Sozlamalar
                </a>
            </li>
        }
        @if (await AuthorizationService.AuthorizeAsync(User, StandardPermissionsProvider.ManageUsers))
        {
            <li>
                <a asp-action="Index" asp-controller="User" class="nav-link text-white">
                    <span class="fas fa-user"></span>
                    Foydalanuvchilar
                </a>
            </li>
        }
        @if (await AuthorizationService.AuthorizeAsync(User, StandardPermissionsProvider.ManageClients))
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Client" class="nav-link text-white">
                    <span class="fas fa-users"></span>
                    Klientlar
                </a>
            </li>
        }
        @if (await AuthorizationService.AuthorizeAsync(User, StandardPermissionsProvider.ManageSales))
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Sale" class="nav-link text-white">
                    <span class="fas fa-money-bill"></span>
                    Sotuvlar
                </a>
            </li>
        }
        @if (await AuthorizationService.AuthorizeAsync(User, StandardPermissionsProvider.ManageStorage))
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Storage" class="nav-link text-white">
                    <span class="fas fa-warehouse"></span>
                    Sklad
                </a>
            </li>
        }
    </ul>
    <hr>
    <div class="dropdown">
        <p href="#" class="d-flex align-items-center text-white text-decoration-none">
            <strong>@User.GetUsername()</strong>
        </p>
        <ul class="text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item text-white bg-dark" asp-action="LogOut" asp-controller="User">Tizimdan chiqish</a></li>
        </ul>
    </div>
</div>