@model SaleViewModel

@{
    ViewData["Title"] = "Sotuvni " + (!Html.IsAddPage() ? "o'zgartirish" : "qo'shish");
}

@inject ListHelper ListHelper

@section Styles{
    <link rel="stylesheet" href="~/bootstrap-timepicker//css/bootstrap-timepicker.min.css" />
}

@section Breadcrumbs
{
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Bosh sahifa</a></li>
            <li class="breadcrumb-item"><a asp-controller="Sale" asp-action="Index">Sotuvlar</a></li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>
}

<form asp-antiforgery="true" id="app">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="ClientId"></label>
                <select class="form-select" asp-items="@await ListHelper.GetClientsAsync()" asp-for="ClientId"></select>
                <span class="text-danger" asp-validation-for="ClientId"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="ConcreteProductType"></label>
                <select class="form-select" asp-items="@Html.GetEnumSelectList<ConcreteProductType>()" asp-for="ConcreteProductType"></select>
                <span class="text-danger" asp-validation-for="ConcreteProductType"></span>
            </div>
            <div v-show="!isSump">
                <div class="mb-3">
                    <label class="form-label" asp-for="Count"></label>
                    <input class="form-control" asp-for="Count" />
                    <span class="text-danger" asp-validation-for="Count"></span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="ComeOutDateTime"></label>
                <input class="form-control" asp-for="ComeOutDateTime" />
                <span class="text-danger" asp-validation-for="ComeOutDateTime"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="ComeInTime"></label>
                <input class="form-control" asp-for="ComeInTime" />
                <span class="text-danger" asp-validation-for="ComeInTime"></span>
            </div>
            <div v-show="isSump">
                <div class="mb-3">
                    <label class="form-label" asp-for="BottomCount"></label>
                    <input class="form-control" asp-for="BottomCount" />
                    <span class="text-danger" asp-validation-for="BottomCount"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Sump60Count"></label>
                    <input class="form-control" asp-for="Sump60Count" />
                    <span class="text-danger" asp-validation-for="Sump60Count"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Sump90Count"></label>
                    <input class="form-control" asp-for="Sump90Count" />
                    <span class="text-danger" asp-validation-for="Sump90Count"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="CoverCount"></label>
                    <input class="form-control" asp-for="CoverCount" />
                    <span class="text-danger" asp-validation-for="CoverCount"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="PaymentType"></label>
                <select class="form-select" asp-items="@Html.GetEnumSelectList<PaymentType>()" asp-for="PaymentType"></select>
                <span class="text-danger" asp-validation-for="PaymentType"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="LetterNumber"></label>
                <input class="form-control" asp-for="LetterNumber" />
                <span class="text-danger" asp-validation-for="LetterNumber"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="TotalPrice"></label>
                <input class="form-control" asp-for="TotalPrice" disabled />
                <span class="text-danger" asp-validation-for="TotalPrice"></span>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" asp-for="DebtPaid" />
                    <label class="form-check-label" asp-for="DebtPaid"></label>
                    <span class="text-danger" asp-validation-for="DebtPaid"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <partial name="_SaveBackButtons" />
    </div>
</form>

@section Scripts {
    <script src="~/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isSump: @((Model?.ConcreteProductType == ConcreteProductType.Sump).ToString().ToLowerInvariant())
                    }
        });

        $(function () {
            $('#@Html.NameFor(m => m.ConcreteProductType)').on('change', function () {
                app.isSump = $('#@Html.NameFor(m => m.ConcreteProductType)').val() == 7;
            });

            initializeTimepicker($('#@Html.NameFor(m => m.ComeInTime)'));
        });
    </script>
}